name: CI

on:
  push:
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@main

      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Run flake check
        run: nix flake check

      - name: Check formatting
        run: nix fmt -- --ci .

      - name: Build home-manager configurations
        run: |
          nix build .#homeConfigurations.mike.activationPackage --dry-run
          nix build .#homeConfigurations.mkusold.activationPackage --dry-run
          nix build '.#homeConfigurations."mike@Mac.int.rockymtn.org".activationPackage' --dry-run
